<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Onset"
        tools:targetApi="31">
        <activity
            android:name=".BookNow"
            android:exported="false" />
        <activity
            android:name=".Editprofile"
            android:exported="false" />
        <activity
            android:name=".ManageApartment"
            android:exported="false" />
        <activity
            android:name=".ViewBookings"
            android:exported="false" />
        <activity
            android:name=".NewApartment"
            android:exported="false" />
        <activity
            android:name=".ProfileLandlord"
            android:exported="false"
            android:label="@string/title_activity_profile_landlord"
            android:theme="@style/Base.Theme.Onset" />
        <activity
            android:name=".LandDashboard"
            android:exported="false"
            android:label="@string/title_activity_land_dashboard"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DashboardLandlord"
            android:exported="false" />
        <activity
            android:name=".SignupLandlord"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".SignUpTenant"
            android:exported="false" />
        <activity
            android:name=".LandlordLogin"
            android:exported="false" />
        <activity
            android:name=".LoginTenant"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Splasher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".BookNow"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>